@using MobileBookStore.Model.Entities
@model MobileBookStore.Models.BookListModel

@{
    ViewBag.Title = "Book List";
}

<h2>Index</h2>

<p>
    @if (Model.publisher != null || Model.isAdmin)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookList.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookList.First().Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookList.First().PageCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookList.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookList.First().Publisher)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.bookList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.CompanyName)
            </td>
            <td>
                @Html.ActionLink("Preview", "Preview", new { bookId = item.Id }, new { onclick = "this.innerText = 'Please wait..';" })
                @if (item.Price == 0 || item.Publisher == Model.publisher || Model.isAdmin)
                {
                    <span>|</span>
                    @Html.ActionLink("Read", "Read", new { bookId = item.Id })
                }
                @if (item.Price > 0 && item.Publisher != Model.publisher && !Model.isAdmin)
                {
                    <span>|</span>
                    @Html.ActionLink("Buy", "Buy", new { bookId = item.Id })
                }
                @if ((Model.publisher != null && item.Publisher == Model.publisher) || Model.isAdmin) {
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { bookId = item.Id  }) 
                }
            </td>
        </tr>
    }

</table>

